# Node modules
node_modules/

# Environment variable
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Coverage reports
coverage/

# Build folders (agar applicable ho)
dist/
build/

# IDE specific folders
.vscode/
.idea/

# Optional: temp files
*.tmp
*.swp
*.swo

Update.txt
